body {
  background-image: url("pildid/taust.jpg");
  font-family: "Nanum Gothic", sans-serif;
}


table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-spacing: 20px;
}

td {
  text-align: left;
  vertical-align: top;
}


h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 40px;
}


table nav a {
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-right: 15px;
  text-decoration: none;
}

img {
  width: 400px;
}

.icon-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  padding-top:50px;
  justify-content: center;
}

.footer nav a {
  font-size: 18px;
  color: black;
  margin-right: 15px;
  text-decoration: none;
}

.info {
  text-align:center;
}